.anime-registro-form {
  max-width: 1500px;
  margin: auto;
}

.anime-image {
  max-width: 75px;
  width: 100%;
}

.contenido-form {
  margin-bottom: 20px;
}

.etiquetas-container {
  display: flex;
  flex-direction: column;
}

.etiquetas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre etiquetas */
  padding: 10px 0; /* Espacio superior e inferior */
}

.input-group {
  display: flex;
  align-items: center;
  flex: 1 0 200px; /* Ajusta el ancho base de cada etiqueta */
}

.input-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acciones {
  position: absolute;
  right: 15rem;
  display: flex;
  gap: 1rem;
  transition: right 0.3s ease-in-out;
}

label.enEmision {
  color: coral;
  border-color: coral;
}

label.enEmision:hover {
  background-color: coral;
  color: wheat;
  border-color: wheat;
}

label.enEmision.active {
  background-color: coral;
  color: wheat;
  border-color: wheat;
}

label.enEspañol {
  color: purple;
  border-color: purple;
  border-radius: 0.5rem; /* Ajusta el redondeo según tu diseño */
  padding: 0.375rem 0.75rem; /* Ajusta el padding según tu diseño */
}

label.enEspañol:hover {
  background-color: purple;
}

[data-bs-theme="dark"] label.enEspañol:hover {
  color: white;
  border-color: white;
}

[data-bs-theme="light"] {
  label.enEspañol:hover {
    color: #212529;
    border-color: #212529;
  }

  label.enEspañol.active:hover {
    color: white;
    border-color: white;
  }
}
label.enEspañol.active {
  background-color: purple;
  color: white;
  border-color: white;
}