.carousel-item img {
    object-fit: cover; /* Mantiene la relación de aspecto y llena la caja */
}

.card {
    transition: transform 0.5s ease-in-out; /* Ralentiza la transformación */
    transform: scale(0.9); /* Tamaño más pequeño */
    border-radius: 15px; /* Bordes redondeados */
}

.card:hover {
    transform: scale(1); /* Tamaño original al pasar el cursor */
    border-radius: 15px; /* Bordes redondeados */
}

.carousel-item {
    transition: transform 0.3s ease-in-out;
}

.icon-link {
    position: relative;
    width: 32px; /* Establece un ancho uniforme */
    height: 32px; /* Establece una altura uniforme */
    transition: transform 0.3s ease-in-out;
}

.icon-link img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra toda el área */
}

.icon-link:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
}

.icon-link::after {
    content: attr(data-text); /* Usa el atributo data-text para la información emergente */
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    font-size: 12px;
}

.icon-link:hover::after {
    opacity: 1; /* Muestra la información emergente al pasar el cursor */
}

span.EnEmision {
    background-color: coral; /* Coral */
    color: wheat; /* Texto en color trigo */
    margin-left: 15px;
    padding: 5px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 15px; /* Tamaño de fuente pequeño */
    width: 175px; /* Ancho pequeño */
    height: 175px; /* Altura pequeña */
}

span.Type {
    color: white; /* Texto en color blanco */
    margin-left: 15px; /* Margen */
    padding: 2.5px 15px 2.5px 15px; /* Espaciado interno */
    border-radius: 500px; /* Bordes redondeados */
    font-size: 13px; /* Tamaño de fuente pequeño */
    width: 150px; /* Ancho pequeño */
    height: 150px; /* Altura pequeña */
}

span.AnimeType {
    color: whitesmoke; /* Texto en color blanco humo */
    margin-left: 15px; /* Margen */
    padding: 2.5px 12px 2.5px 12px; /* Espaciado interno */
    border-radius: 350px; /* Bordes redondeados */
    font-size: 15px; /* Tamaño de fuente pequeño */
    width: 175px; /* Ancho pequeño */
    height: 175px; /* Altura pequeña */
}

span.Anime, span.Serie {
    background-color: #44c0f1; /* Azul claro */
}

span.Película {
    background-color: #f14444; /* Rojo claro */
}

span.OVA {
    background-color: #f1a644; /* Naranja claro */
}

span.Español {
    background-color: purple; /* Púrpura */
}

.content-container {
    height: 100px; /* Altura más pequeña */
    overflow: hidden; /* Oculta el contenido desbordado */
    transition: height 0.6s ease-in-out; /* Transición suave y más lenta */
}

.card:hover .content-container {
    height: auto; /* Expande para mostrar el contenido completo al pasar el cursor */
}

.content-details {
    display: none; /* Oculta los detalles por defecto */
}

.card:hover .content-details {
    display: block; /* Muestra los detalles al pasar el cursor */
}

.anime-image {
    width: 100%; /* Asegura que la imagen cubra toda el área */
    height: 100px; /* Establece una altura uniforme */
}

.card:hover .anime-image {
    height: auto; /* Ajusta la altura para que se ajuste al contenido cuando se expande */
}

.links {
    position: absolute;
    bottom: 10px;
    right: 15rem;
    display: flex; /* Muestra los enlaces en una fila */
    gap: 1rem; /* Añade un espacio entre los enlaces */
    transition: right 0.3s ease-in-out; /* Transición suave para la posición a la derecha */
}

/* Consultas de medios para la capacidad de respuesta */
@media (max-width: 1200px) {
    .links {
        right: 10rem;
    }
}

@media (max-width: 992px) {
    .links {
        right: 6rem;
    }
}

@media (max-width: 768px) {
    .links {
        right: 4rem;
    }
}

.card-body {
    position: relative;
}

.btn-group, .estado-container {
    transition: opacity 0.3s;
    opacity: 0;
}

.card:hover .btn-group, .card:hover .estado-container {
    opacity: 1;
}